<aside class="h-full w-full bg-white flex flex-col">
  <div class="p-4 text-xl font-bold text-gray-800">
    Dashboard
  </div>

  <nav class="flex flex-col gap-2 p-4 text-gray-500">
    <a routerLink="/admin/products" routerLinkActive="bg-rose-100 text-rose-600 font-semibold"
       class="rounded px-3 py-2 hover:bg-rose-50 transition">Products</a>

    <a routerLink="/admin/categories" routerLinkActive="bg-rose-100 text-rose-600 font-semibold"
       class="rounded px-3 py-2 hover:bg-rose-50 transition">Categories</a>

    <a routerLink="/admin/colors" routerLinkActive="bg-rose-100 text-rose-600 font-semibold"
       class="rounded px-3 py-2 hover:bg-rose-50 transition">Colors</a>

    <a routerLink="/admin/sizes" routerLinkActive="bg-rose-100 text-rose-600 font-semibold"
       class="rounded px-3 py-2 hover:bg-rose-50 transition">Sizes</a>

    <a routerLink="/admin/variants" routerLinkActive="bg-rose-100 text-rose-600 font-semibold"
       class="rounded px-3 py-2 hover:bg-rose-50 transition">Variants</a>

    <a routerLink="/admin/users" routerLinkActive="bg-rose-100 text-rose-600 font-semibold"
       class="rounded px-3 py-2 hover:bg-rose-50 transition">Users & Roles</a>
  </nav>
</aside>
