

:host {
  display: block;
}



.bg-green-600 {
  background-color: #16a34a;
}

.bg-red-600 {
  background-color: #dc2626;
}

.bg-yellow-500 {
  background-color: #f59e0b;
}

.bg-blue-600 {
  background-color: #2563eb;
}



