<div class="flex justify-center mt-8">
  <div class="col-span-12 columns-lg">
    <main class="form-signin">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="text-center mb-4 text-2xl">
          <p>Login</p>
        </div>
        <app-text-input label="Username(Email)" formControlName="email" type="text"/>
        <app-text-input label="Password" formControlName="password" type="password"/>

        <div class="grid mt-4 px-1">
          <button class="bg-gradient-to-r from-pink-600 via-pink-800 to-pink-600 py-2 text-white rounded-lg  hover:bg-pink-900 transition duration-200" type="submit">Login</button>
        </div>
         <ul *ngIf="validationErrors?.length" class="mt-4 text-red-500 text-sm list-disc list-inside">
          <li *ngFor="let error of validationErrors">{{ error }}</li>
        </ul>
        <div class="mt-4 text-center">
          <a class="text-blue-600 underline text-xs cursor-pointer">
            Forgot username or password?
          </a>
        </div>
      </form>
    </main>
  </div>
</div>


