@tailwind base;
@tailwind components;
@tailwind utilities;

// ⬇️ Override za sve Angular Material gumbe
.mdc-button,
.mdc-raised-button,
.mdc-stroked-button,
.mdc-flat-button {
  border-radius: 4px !important; // Promijeni broj po želji
}

.container{
  margin-inline: auto;
  max-width: 1500px;

}
